<section class="sobre-mi" @fadeIn>
  <h2>Sobre mí</h2>

  <div class="contenido">
    <img src="assets/img/perfil.jpg" alt="Foto de Juan David Moreno Cifuentes" />

    <div class="descripcion">
      <p>
        Ingeniero de Sistemas y Computación (M.Sc. Engineer) con 4 años de experiencia profesional especializándose en la arquitectura, procesamiento y optimización de grandes volúmenes de datos. Experto en diseñar e implementar flujos eficientes de datos, garantizar la interoperabilidad entre múltiples motores relacionales y desplegar soluciones de Inteligencia Artificial para la extracción automatizada y minería de datos del mundo real. Sólida capacidad analítica para transformar datos complejos en reportes e integraciones de alto valor, operando bajo metodologías ágiles y con un alto nivel de autonomía.
      </p>
      <hr>
      <h3><strong>Habilidades</strong></h3>
      <ul>
        <li><strong>Lenguajes de Programación:</strong> Python, Java, TypeScript, JavaScript.</li>
        <li><strong>Frameworks & Herramientas:</strong> Spring Boot, Angular, React, Docker, Git.</li>
        <li><strong>Bases de Datos & Data Workflows:</strong> Oracle, Microsoft SQL Server, PostgreSQL, MySQL, SQLite, flujos ETL/ELT, minería de datos, integraciones de IA mediante APIs.</li>
        <li><strong>Habilidades Blandas:</strong> Trabajo en equipo, Gestión del tiempo</li>
      </ul>
      <hr>
      <h3><strong>Estudios</strong></h3>
      <ul>
        <li><strong>Ingeniería de Sistemas y Computación: </strong>Universidad del Quindío | 2016 - 2022</li>
        <li><strong>Maestría en Ingeniería con enfasís en Ingeniería de Software: </strong>Universidad del Quindío | 2023 - 2025</li>
      </ul>
    </div>
  </div>
</section>
