<section class="sobre-mi" @fadeIn>
  <h2>Sobre mí</h2>
  <p>
    Desarrollador de software con tres años de experiencia en el desarrollo de
    aplicaciones web utilizando frameworks como Angular y Spring Boot.
    Especializado en la implementación de soluciones eficientes para la exportación
    y procesamiento de datos, así como en la integración de bases de datos como
    MySQL, PostgreSQL, SQLite, SQL Server y Oracle. Tambien desarrollo en Python.
    Apasionado por el aprendizaje continuo, la inteligencia artificial y el desarrollo de
    proyectos innovadores. Capacidad para trabajar en equipo, gestionar tiempos
    de manera efectiva y adaptarse rápidamente a nuevas tecnologías.
  </p>

  <h3>Habilidades</h3>
  <ul>
    <li>Java, Python, TypeScript</li>
    <li>Angular, React, Spring Boot</li>
    <li>PostgreSQL, MongoDB, MySQL, SQLite,SQL Server, Oracle</li>
    <li>Git, Docker</li>
    <li>BPMN</li>
    <li>Trabajo en equipo, Gestión del tiempo</li>
  </ul>
</section>
