<form #formRef="ngForm" (ngSubmit)="enviarCorreo(formRef)" @fadeIn>
  <mat-form-field class="full-width">
    <input matInput placeholder="Nombre" name="name" ngModel required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Correo electrónico" name="email" ngModel required email>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Mensaje" name="message" ngModel required></textarea>
  </mat-form-field>

  <input type="hidden" name="title" [value]="'Nuevo mensaje de portafolio'">

  <button mat-raised-button color="accent" type="submit">Enviar</button>
</form>
<section class="redes-sociales" @fadeIn>
  <h2>Redes Sociales</h2>

  <div class="iconos-redes">
    <a href="https://www.linkedin.com/in/juan-david-moreno-cifuentes-2a165521a/" target="_blank" aria-label="LinkedIn">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a href="https://x.com/JuanNebraska?t=5WodrWcCpp7GQEIt4MdVUQ&s=08" target="_blank" aria-label="Twitter">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
    <a href="https://www.instagram.com/juanmoreno7380?igsh=N3kxb2xpOW0xY3Vx" target="_blank" aria-label="Instagram">
      <mat-icon svgIcon="instagram"></mat-icon>
    </a>
  </div>
</section>
